<section class="section">
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Classsification App</h4>
            </div>
            <div class="card-body">
                <p>Classification app untuk kanker payudara adalah aplikasi berbasis machine learning (ML) yang bertujuan membantu diagnosis dengan cara mengklasifikasikan apakah pasien berpotensi memiliki kanker payudara.</p>
            </div>
        </div>
    </div>
</section>